.subjectContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 120px;
}
.part {
  width: calc(25% - 20px);
  margin-top: 40px;

  @media (max-width: 1000px) {
    width: calc(33% - 20px);
  }
  @media (max-width: 700px) {
    width: calc(50% - 20px);
  }
  @media (max-width: 500px) {
    width: 100%;
    padding: 0;
  }

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
.innerPart {
  width: 100%;
  border-top: solid 1px black;

  & > h2 {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  & > img {
    width: 100%;
    cursor: pointer;
  }
  & > h3 {
    font-size: 18px;
    margin-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
    font-weight: 500;
    border-bottom: solid 1px #e2e2e2;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }
  }
}
