.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  font-size: 20px;
  line-height: 1.5;

  & > div > div {
    display: flex;
    justify-content: center;
  }
  & > h1 {
    font-size: 32px;
    line-height: 1.3;
    margin-top: 0px;
  }
  @media (max-width: 700px) {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
  }
}

.loadingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > p {
    font-size: 20px;
  }
}