
.topContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 700px) {
    flex-wrap: wrap;
  }
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 20px;

  & > img {
    width: 100%;
    cursor: pointer;
  }
  & > span {
    font-size: 14px;
    color: #e3120b;
    font-weight: 600;
    margin-top: 12px;
    cursor: pointer;
  }
  & > h3 {
    font-size: 40px;
    margin-top: 8px;
    margin-bottom: 0px;
    cursor: pointer;
  }
  & > p {
    font-size: 20px;
    cursor: pointer;
  }

  @media (max-width: 1000px) {
    & > h3 {
      font-size: 30px;
      margin-top: 8px;
      margin-bottom: 0px;
    }
    & > p {
      font-size: 20px;
    }
  }

  @media (max-width: 700px) {
    flex: auto;
    width: 100%;
    padding-right: 0;
    border-bottom: solid 1px #e2e2e2;
    margin-bottom: 20px;
  }
}
.right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 700px) {
    flex: auto;
    width: 100%;
  }
}
.rightHalf {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  border-left: solid 1px #e2e2e2;
  border-right: solid 1px #e2e2e2;
  
  @media (max-width: 1000px) {
    border-right: none;
    padding-right: 0;
  }
  @media (max-width: 700px) {
    padding-left: 0;
    border-left: none;
  }
  & .card {
    width: 100%;
    margin-top: 20px;
    &.withBorder {
      border-bottom: solid 1px #e2e2e2;
      margin-top: 0px;
    }
    & > img {
      width: 100%;
      margin-bottom: 8px;
      cursor: pointer;
    }
    & > span {
      font-size: 14px;
      color: #e3120b;
      font-weight: 600;
      cursor: pointer;
    }
    & > h3 {
      font-size: 20px;
      margin-top: 4px;
      margin-bottom: 0px;
      cursor: pointer;
    }
    & > p {
      font-size: 16px;
      margin-top: 8px;
      line-height: 1.5;
      cursor: pointer;
    }
  }
}
.theWorldInBrief {
  flex: 1;
  padding-left: 20px;
  flex-direction: row;
  justify-content: space-between;

  & .theWorldInBriefContent {
    background-color: #f5f3ed;
    padding: 12px;
    height: 100%;
    & > h2 {
      font-size: 16px;
      margin-top: 0;
    }
    & > p {
      font-size: 14px;
      line-height: 1.5;
      margin-top: 0;
    }
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.secondSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px #e2e2e2;
  margin-top: 40px;
  padding-top: 40px;

  @media (max-width: 700px) {
    flex-wrap: wrap;
  }
  & .part {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    border-right: solid 1px #e2e2e2;

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }

    @media (max-width: 1000px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @media (max-width: 700px) {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      border-right: none;
      border-bottom: solid 1px #e2e2e2;
      margin-bottom: 20px;
    }
  }
  & .card {
    width: 100%;
    & > img {
      width: 100%;
      margin-bottom: 8px;
      cursor: pointer;
    }
    & > h3 {
      font-size: 24px;
      margin-top: 4px;
      margin-bottom: 0px;
      cursor: pointer;
    }
    & > p {
      font-size: 18px;
      margin-top: 8px;
      line-height: 1.5;
      cursor: pointer;
    }

    @media (max-width: 1000px) {
      & > h3 {
        font-size: 18px;
        margin-top: 4px;
        margin-bottom: 0px;
      }
      & > p {
        font-size: 14px;
        margin-top: 8px;
        line-height: 1.5;
      }

    }
  }

  @media (max-width: 1000px) {
    padding-top: 20px;
    margin-top: 20px;
  }
}
