.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  height: 40px;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border: none;
  background-color: #ebebeb;
  border-radius: 8px;
  padding-left: 12px;
}
.label {
  max-width: 400px;
  width: 100%;
  text-align: left;
  margin-bottom: 4px;
  color: rgb(78, 78, 78);
  padding-left: 4px;
  font-size: 12px;
}
.button {
  color: white;
  background-color: #111;
  max-width: 400px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 8px;
  height: 48px;
  cursor: pointer;
  margin-top: 20px;
}
