.secondaryContent {
  border-top: solid 1px black;
  margin-top: 40px;
  & > h2 {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 0;
  }
}
.secondaryInnerContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;

  @media (max-width: 700px) {
    flex-wrap: wrap;
  }
}
.left {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  padding-right: 20px;

  & > img {
    width: 100%;
    cursor: pointer;
  }
  & > span {
    font-size: 14px;
    color: #e3120b;
    font-weight: 600;
    margin-top: 12px;
    cursor: pointer;
  }
  & > h3 {
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 0px;
    cursor: pointer;
  }
  & > p {
    font-size: 20px;
    cursor: pointer;
  }

  @media (max-width: 1000px) {
    & > h3 {
      font-size: 30px;
      margin-top: 8px;
      margin-bottom: 0px;
      cursor: pointer;
    }
    & > p {
      font-size: 20px;
      cursor: pointer;
    }
  }

  @media (max-width: 700px) {
    flex: auto;
    width: 100%;
    padding-right: 0;
    border-bottom: solid 1px #e2e2e2;
    margin-bottom: 20px;
  }
}
.right {
  flex: 0.6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 700px) {
    flex: auto;
    width: 100%;
  }
}
.rightHalf {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  border-left: solid 1px #e2e2e2;
  
  @media (max-width: 1000px) {
    border-right: none;
    padding-right: 0;
  }
  @media (max-width: 700px) {
    padding-left: 0;
    border-left: none;
  }
  & .card {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: solid 1px #e2e2e2;
    & > div {
      width: 60%;
    }
    & > img {
      height: 150px;
      margin-bottom: 8px;
      cursor: pointer;
    }
    & > div > h3 {
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
      cursor: pointer;
    }
    & > div > p {
      font-size: 16px;
      margin-top: 8px;
      line-height: 1.5;
      cursor: pointer;
    }
    &:last-child {
      border-bottom: none;
    }

    @media (max-width: 1000px) {
      & > img {
        height: 100px;
        margin-bottom: 8px;
      }
    }
  }

}
